mixin dropdown(o = {})
    -
        let { dropdownOptions, ...inputOptions } = o || {};
        let { expand = false, type = 0, controlVisible = false, forcedExpand = false } = dropdownOptions || {};
        let classDropdown = 'dropdown js-dropdown' + (expand ? ' dropdown_expanded' : '') + (forcedExpand ? ' dropdown_forced-expanded' : ''); 
        classDropdown += type === 0 ? ' dropdown_particular js-dropdown_particular' : '';
    div(class=classDropdown, data-type=type)
        +input(inputOptions)
        .dropdown__main.js-dropdown__main
            block dropdown__main
                -
                    let { items = [] } = o || {};
                each item in items
                    - 
                        let { title = '', value = 0, name = '' } = item || {};
                        let buttonMinusClass = 'dropdown__button js-dropdown__button'  + (value === 0 ? ' dropdown__button_fade js-dropdown__button_fade' : '');
                    .dropdown__item.js-dropdown__item
                        input(
                            name=name,
                            type='hidden',
                            value=value
                            data-title=title
                        )
                        .dropdown__item-title
                            h3=title
                        .dropdown__item-control
                            button(
                                type="button"
                                data-type="0"
                                class=buttonMinusClass
                            )="-"
                            .dropdown__item-value.js-dropdown__item-value=value
                            button.dropdown__button(
                                type="button"
                                data-type="1"
                            )="+"
            if (controlVisible)
                .dropdown__main-control
                    button.dropdown__control-button.dropdown__control-button_clean(
                        type="button",
                        name="clean"
                    )   
                        |Очистить
                    button.dropdown__control-button.dropdown__control-button_apply(
                        type="button",
                        name="apply"
                    )
                        |Применить

