include ../title-label/title-label
include ../dropdown-summary/dropdown-summary
include ../control/control
include ../dropdown-item/dropdown-item

mixin dropdown(props)
  if props
    -
      let { dropdown = {}, maskedTextField, items = [], control } = props;
      let { isOpened, theme, title, buttonDecreaseText, buttonIncreaseText } = dropdown;
      let themes = {
          comfort: 'comfort'
      }
      let className = 'dropdown';
      let classNames = `${className} js-${className}`;
      classNames += isOpened ? ` ${className}_opened` : '';
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    div(class=classNames)
      div(class=`${className}__dropdown-summary js-${className}__dropdown-summary`)
        +dropdown-summary(props)
        - let length = items.length;
        if length
          div(class=`${className}__body`)
            ul(class=`${className}__items js-${className}__items`)
              each item in items
                li(class=`${className}__li-item js-${className}__li-item`)
                  +dropdown-item({...item, buttonDecreaseText: item.buttonDecreaseText || buttonDecreaseText, buttonIncreaseText: item.buttonIncreaseText || buttonIncreaseText})
            if control
              div(class=`${className}__control js-${className}__control`)
                +control(control)
