mixin dropdown(props = {})
    -
        let { dropdownOptions, ...inputOptions } = props;
        let { expand, type, controlVisible, forcedExpand, buttonDecreaseText, buttonIncreaseText, buttonCleanText, buttonApplyText } = dropdownOptions || {};
        let classDropdown = 'dropdown js-dropdown' + (expand ? ' dropdown_expanded' : '') + (forcedExpand ? ' dropdown_forced-expanded' : ''); 
        classDropdown += type === 0 ? ' dropdown_particular js-dropdown_particular' : '';
    div(class=classDropdown, data-type=type)
        +input(inputOptions)
        .dropdown__main.js-dropdown__main
            block dropdown__main
                -
                    let { items = [] } = props || {};
                each item in items
                    - 
                        let { title, value, name } = item || {};
                        let buttonMinusClass = 'dropdown__button js-dropdown__button'  + (value === 0 ? ' dropdown__button_fade js-dropdown__button_fade' : '');
                    .dropdown__item.js-dropdown__item
                        input(
                            name=name,
                            type='hidden',
                            value=value
                            data-title=title
                        )
                        .dropdown__item-title=title
                        .dropdown__item-control
                            button(
                                type="button"
                                data-type="0"
                                class=buttonMinusClass
                            )=buttonDecreaseText
                            .dropdown__item-value.js-dropdown__item-value=value
                            button.dropdown__button(
                                type="button"
                                data-type="1"
                            )=buttonIncreaseText
            if (controlVisible)
                .dropdown__main-control
                    button.dropdown__control-button.dropdown__control-button_clean(
                        type="button",
                        name="clean"
                    )=buttonCleanText
                    button.dropdown__control-button.dropdown__control-button_apply(
                        type="button",
                        name="apply"
                    )=buttonApplyText

