extends ../../templates/base/base
include ../../components/info/info
include ../../components/rate/rate
include ../../components/bullet-list/bullet-list
include ../../components/comments/comments
include ../../components/book/book
include ../../components/description/description
include ../../components/slider/slider

block main
  -
    let { info, rate, comments, bulletList, cancel, book, images = {}, slider } = data;
    let { image1, image2, image3 } = images;
    let { src: srcImage1, alt: altImage1 } = image1;
    let { src: srcImage2, alt: altImage2 } = image2;
    let { src: srcImage3, alt: altImage3 } = image3;
    let className = 'room-details';
    let classNames = `${className} js-${className}`;
  section(class=classNames)
    div(class=`${className}__views`)
      div(class=`${className}__view`)
        img(src=srcImage1, alt=altImage1, class=`${className}__image`)
      div(class=`${className}__view`, style=styleFirst)
        img(src=srcImage2, alt=altImage2, class=`${className}__image`)
        img(src=srcImage3, alt=altImage3, class=`${className}__image`)
    div(class=`${className}__slider js-${className}__slider`)
      +slider(slider)
    section(class=`${className}__main-section`)
      div(class=`${className}__section-full-information`)
        div(class=`${className}__info-section`)
          section(class=`${className}__info`)
            +info(info)
          section(class=`${className}__rate js-${className}__rate`)
            +rate(rate)
        section(
          class=`${className}__comments-section js-${className}__comments-section`
        )
          +comments(comments)
        div(class=`${className}__rules-section`)
          section(class=`${className}__rules`)
            +bullet-list(bulletList)
          section(class=`${className}__cancel`)
            +description(cancel)
      section(class=`${className}__book js-${className}__book`)
        +book(book)
