extends ../base/base
include ../../components/info/info
include ../../components/rate/rate
include ../../components/bullet-list/bullet-list
include ../../components/comments/comments
include ../../components/comment/comment
include ../../components/card/card
include ../../components/book/book

block main
    -
        let data = htmlWebpackPlugin.options.getData() || {};
        let { action, info, rate, comments, bulletList, cancel, book, images = {} } = data;
        let { image1, image2, image3 } = images;
        let { src: backgroundImage1 } = image1;
        let { src: backgroundImage2 } = image2;
        let { src: backgroundImage3 } = image3;
        let styleFirst = backgroundImage1 ? `background-image: url(${backgroundImage1});` : '';
        let styleSecond = backgroundImage2 ? `background-image: url(${backgroundImage2});` : '';
        let styleThird = backgroundImage3 ? `background-image: url(${backgroundImage3});` : '';
    article.room-details.js-room-details
        .room-details__views-section
            .room-details__view-first(
                style=styleFirst
            )
            .room-details__views
                .room-details__view-second(
                    style=styleSecond
                )
                .room-details__view-third(
                    style=styleThird
                )
        .room-details__main-section
            .room-details__section
                .room-details__info-section
                    .room-details__info
                        +info(data.info)
                    .room-details__rate
                        +rate(data.rate)
                .room-details__comments-section
                        +comments(data.comments)
                .room-details__rules-section
                    .room-details__rules
                        +bullet-list(data.bulletList)
                    .room-details__cancel
                        +comment(cancel)
                        //- .room-details__cancel-title=cancelTitle
                        //- .room-details__cancel-content=cancelContent   
            .room-details__section
                form.room-details__book(
                    action=action
                )
                    +card()
                        +book(book)