extends ../base/base
include ../../components/info/info
include ../../components/rate/rate
include ../../components/bullet-list/bullet-list
include ../../components/comments/comments
include ../../components/book/book
include ../../components/description/description
include ../../components/slider/slider

block main
  -
    let data = htmlWebpackPlugin.options.getData() || {};
    let { info, rate, comments, bulletList, cancel, book, images = {}, slider } = data;
    let { image1, image2, image3 } = images;
    let { src: backgroundImage1 } = image1;
    let { src: backgroundImage2 } = image2;
    let { src: backgroundImage3 } = image3;
    let styleFirst = backgroundImage1 ? `background-image: url(${backgroundImage1});` : '';
    let styleSecond = backgroundImage2 ? `background-image: url(${backgroundImage2});` : '';
    let styleThird = backgroundImage3 ? `background-image: url(${backgroundImage3});` : '';
    let className = 'room-details';
    let classNames = `${className} js-${className}`;
  section(class=classNames)
    section(class=`${className}__views-section`)
      div(class=`${className}__view-first`, style=styleFirst)
      div(class=`${className}__views`, style=styleFirst)
        div(class=`${className}__view-second`, style=styleSecond)
        div(class=`${className}__view-third`, style=styleThird)
    div(class=`${className}__slider js-${className}__slider`)
      +slider(slider)
    section(class=`${className}__main-section`)
      div(class=`${className}__section`)
        div(class=`${className}__info-section`)
          section(class=`${className}__info`)
            +info(info)
          section(class=`${className}__rate js-${className}__rate`)
            +rate(rate)
        section(
          class=`${className}__comments-section js-${className}__comments-section`
        )
          +comments(comments)
        div(class=`${className}__rules-section`)
          section(class=`${className}__rules`)
            +bullet-list(bulletList)
          section(class=`${className}__cancel`)
            +description(cancel)
      section(class=`${className}__section js-${className}__book`)
        +book(book)
