include ../title-label/title-label

mixin pagination(props)
  if props
    -
      let { title, description } = props;
      let className = 'pagination';
      let classNames = `${className} js-${className}`;
    article(class=classNames)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      ul(class=`${className}__items js-${className}__items`)
      if description
        p(class=`${className}__summary js-${className}__summary`)
