extends ../base/base

include ../../components/card/card
include ../../components/picker/picker
include ../../components/footer/footer

block main
    -
        let data = htmlWebpackPlugin.options.getData() || {};
        let { action, picker, footer, backgroundSrc, backgroundAlt, slogan } = data;
    article.landing-page.js-landing-page
        block landing-page-background
            .landing-page__background
                img(
                    src=backgroundSrc
                    alt=backgroundAlt
                    class="landing-page__background-image"
                )
        block landing-page-find
            form(
                action=action
                class="landing-page__find js-landing-page__picker"
            )
                block landing-page-find
                    +card
                        +picker(picker)    
        block landing-page-info
            .landing-page__info=slogan
