include ../title-label/title-label
include ../rich-checkbox-button/rich-checkbox-button

mixin rich-checkbox-buttons(props)
  if props
    -
      let { title, buttons = [], src, alt, theme } = props;
      let className = 'rich-checkbox-buttons';
      let classNames = `${className} js-${className}`;
      let { length } = buttons;
    article(class=`${classNames}`) 
      if title
        div(class=`${className}__title`)
          +title-label(title)
      if length
        ul(class=`${className}__buttons`)
          each button in buttons
            li(class=`${className}__button`)
              +rich-checkbox-button({ src, alt, theme, ...button })
