include ../icon/icon

mixin info-item(props)
  if props
    -
      let { src, alt, title, content, iconClassName } = props;
      let className = 'info-item';
      let classNames = `${className} js-${className}`;
    div(class=classNames)
      if iconClassName
        span(class=`${className}__image-wrapper`)
          if iconClassName
            span(class=`${className}__icon`)
              +icon(iconClassName)
          else if src
            img(src=src, alt=alt, class=`${className}__image`)
      div(class=`${className}__body`)
        span(class=`${className}__title`)
          | #{title}
        span(class=`${className}__content`)
          | #{content}
