//-
  include ../toggle/toggle
  include ../tick-box/tick-box

//-
  options.name - form element name
  options.type - input type
  options.placeholder - input placeholder
  options.pattern - input pattern
  options.tabindex - input tabindex
  options.required - input required
  options.label - подпись к checkbox и radio

mixin input(o = {})
  -
    let { label = '', stateText = '', type = '', name = '', state = false, placeholder = '', button = {}, value, required, pattern, tabindex } = o || {};
    let { buttonVisible = false } = button || {};
    let 
      autofocus = state ? true : false;
  .input
    .input__info
      if label
        h3.input__label
          label.input__label-text(for=name)=label
      if stateText
        h3.input__stateText=stateText
    .input__section
        input.input__input(
          id = name
          type = type
          name = name
          placeholder = placeholder
          pattern = pattern
          tabindex = tabindex
          required = required
          autofocus = autofocus
          value = value
        )
        if buttonVisible
          - 
            let { type:buttonType = 'button', class:buttonClass = 'default', name:buttonName, value:buttonValue } = button || {};
            let buttonClasses = 'input__button';
            switch (buttonClass) {
              case 'default':
              default: {
                buttonClasses += ' input__button_default';
                buttonClasses += ' icon-arrow_forward';
                break;
              }
            }
          button(
            type=buttonType
            name=buttonName
            class=buttonClasses
          )