mixin rate-button(props = {})
    -
        let
            {
                count,
                grade,
                name,
                isOff,
                srcImgRate,
                altImgRate,
                srcImgNoRate,
                altImgNoRate,
            } = props; 
            n = 1;
        if (grade > count) {
            grade = count
        } else if (grade < 0 || typeof grade === undefined) {
            grade = 0;
        }
    .rate-button__button.js-rate-button__button(
        data-count=count
        data-off=`${off}`
    )
        input.rate-button__input(
            type="hidden"
            name=name
            value=grade
        )
        while n <= count
            -
                let 
                    rate = n <= grade ? 1 : 0; 
                    classes = `rate-button__rate js-rate-button__rate${rate ? ' rate-button__rate_checked' : ''}`;  
            div(
                class=classes,
                data-index=n,
                data-rate=rate
            )
                if (srcImgRate)
                    img(
                        src=srcImgRate,
                        alt=altImgRate,
                        class="rate-button__img rate-button__img_checked"
                    )
                if (srcImgNoRate)
                    img(
                        src=srcImgNoRate,
                        alt=altImgNoRate,
                        class="rate-button__img rate-button__img_not_checked"
                    )
            -
                ++n;
                    
                
                    


