mixin rate-button(props)
  if props
    -
      let
          {
              total = 0,
              value = 0,
              type="hidden",
              name,
              isDisabled,
              ariaLabel,
              srcImgRate,
              altImgRate,
              srcImgNoRate,
              altImgNoRate,
          } = props;
          n = 1;
      if (value > total) {
          value = total
      } else if (total < 0) {
          total = 0;
      }
      let className = 'rate-button';
      let classNames = `${className} js-${className}`;
      classNames += isDisabled ? ` ${className}_disabled` : '';
    ul(class=classNames)
      input(
        name=name,
        value=grade,
        type=type,
        disabled=isDisabled,
        aria-label=ariaLabel,
        class=`${className}__input js-${className}__input`
      )
      while n <= total
        -
          let 
              isChecked = n <= value ? 1 : 0; 
              rateClassName = `${className}__rate`;  
              rateClassNames = `${rateClassName} js-${rateClassName}`;
          rateClassNames += isChecked ? ` ${rateClassName}_checked` : '';
        li(class=rateClassNames, data-rate=n, data-ischecked=isChecked)
          if srcImgRate
            img(
              src=srcImgRate,
              alt=altImgRate,
              class=`${className}__img ${className}__img_checked`
            )
          if srcImgNoRate
            img(
              src=srcImgNoRate,
              alt=altImgNoRate,
              class=`${className}__img ${className}__img_not_checked`
            )
        -
          ++n;
