include ../title-label/title-label
include ../rate-button/rate-button

mixin rate-buttons(props = {})
  if props
    -
      let { title, buttons = [], images = {} } = props;
      let { length } = buttons;
      let className = 'rate-buttons';
      let classNames = `${className} js-${className}`;
    div(class=classNames)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      if length
        ul(class=`${className}__items`)
          - let { srcImgRate, altImgRate, srcImgNoRate, altImgNoRate } = images;
          each button in buttons
            li(class=`${className}__item js-${className}__item`)
              +rate-button({ ...images, ...button })
