block variables
include ../../components/layout/layout
include ../../components/layout-header/layout-header
include ../../components/layout-main/layout-main
include ../../components/layout-footer/layout-footer
include ../../components/layout-container/layout-container
include ../../components/header/header
include ../../components/footer/footer

- let data = htmlWebpackPlugin.options.getData() || {};
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block meta
      - let { meta = [] } = data;
      each item in meta
        - let { name, content } = item || {};
        meta(name=name, content=content)
    block links
      - let { links = [] } = data;
      each link in links
        - let { rel, href, sizes, type } = link || {};
        link(rel=rel, href=href, sizes=sizes, type=type) 
    title
      block title
        - let { title } = data;
        | #{title}
  -
    let { slug = '', generalContainer, container } = data;
  body(data-slug=slug)
    +layout
      +layout-header
        +layout-container(generalContainer)
          block header
            - let { headerNotAuthorized } = data;
            +header({ container, ...headerNotAuthorized })
      +layout-main
        +layout-container(generalContainer)
          block main
      +layout-footer
        +layout-container(generalContainer)
          block footer
            - let { footer, container } = data;
            +footer({container, ...footer})
