mixin button(props = {})
    -
        let
            { text, type, disabled, view, value, name, src, alt, hover } = props;
            classes = "button button__view"
            classes += hover ? ' button__view_hover' : '';
            classes += view !== undefined ? ` button__view_${view}` : '';
    button(
        class=classes
        type=type
        value=value
        disabled=disabled ? disabled : false
        name=name
    )
        span.button__content=text
        if (view === 3)
            if (src)
                span.button__image
                    img(
                        src=src
                        alt=alt
                    )