mixin like-button(props = {})
  if props
    -
      let
          {
            name, value, ariaLabel, type = "checkbox",
            count:passCount = 0, tabindex,
            srcLike, altLike, srcNotLike, altNotLike,
            isRequired, isDisabled, isChecked, isHidden
          } = props;
          id = `${name}-${Math.random().toString(16).substr(2)}`;
          count = passCount || 0;
          className = 'like-button';
          classNames = `${className} js-${className}`;
    label(for=id, class=classNames)
      input(
        aria-label=ariaLabel,
        name=name,
        value=value,
        type="checkbox",
        id=id,
        tabindex=tabindex,
        required=isRequired,
        disabled=isDisabled,
        checked=isChecked,
        class=`${className}__input js-${className}__input`
      )
      span(class=`${className}__check-mark`)
        if srcLike
          span(class=`${className}__like`)
            img(src=srcLike, alt=altLike, class=`${className}__image`)
        if srcNotLike
          span(class=`${className}__not-like`)
            img(src=srcNotLike, alt=altNotLike, class=`${className}__image`)
        span(class=`${className}__count js-${className}__count`) #{count}
