mixin like-button(props = {})
  -
    let
        {
            name,
            count,
            tabindex,
            srcLike,
            altLike,
            srcNoLike,
            altNoLike,
            isRequired,
            isDisabled,
            isChecked
        } = props;
        id = name ? `like-button-${name}`: '';
        passCount = count !== undefined ? count : 0;
        let className = 'like-button';
        let classNames = `${className} js-${className}`;

  label(for=id, class=classNames)
    input(
      type="checkbox",
      name=name,
      tabindex=tabindex,
      required=isRequired,
      disabled=isDisabled,
      checked=isChecked,
      id=id,
      class=`${className}__input.js-${className}__input`
    )
    div(class=`${className}__check-mark`)
      if (srcLike)
        div(class=`${className}__check-mark-like`)
          img(src=srcLike, alt=altLike)
      if (srcNoLike)
        div(class=`${className}__check-mark-no-like`)
          img(src=srcNoLike, alt=altNoLike)
      div(class=`${className}__count js-${className}__count`) #{passCount}
