include ../title-label/title-label
include ../info-item/info-item

mixin info(props)
  if props
    -
      let { title, sections = [], withLastLine } = props;
      let className = 'info';
      let classNames = `${className}`;
      let { length } = sections; 
      classNames += withLastLine ? ` ${className}_with-last-line` : '';
    article(class=classNames)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      if length
        ul(class=`${className}__sections`)
          each section in sections
            li(class=`${className}__section`)
              +info-item(section)
