mixin info(o = {})
    -
        let
            {label = '', sections = [], withoutLastLine = false} = o;
            defaults = {
                'comfort': 'icon-insert_emoticon',
                'usability': 'icon-location_city',
                'cosiness': 'icon-whatshot',
            }
            classNames = withoutLastLine ? 'info__sections_without_last_line' : '';
    .info
        if (label)
            h2=label
    .info__sections(
        class=classNames
    )
        each section in sections
            -
                section = section || {};
                let
                    src = section.src || '';
                    classDefault = defaults[src];
                    alt = section.alt || '';
            .info__section
                .info__img
                    if (classDefault)
                        span(class=classDefault)
                    else if (src)
                        img(src=src, alt=alt)
                .info__body
                    .info__title
                        |#{section.title}
                    .info__content
                        |#{section.content}
        