mixin toggle-button(props = {})
    -
        let { name, tabindex, isRequired, isDisabled, isChecked, label } = props;
        let id = name ? `toggle-buttons__button-${name}`: '';
    label.toggle-button(for=id)
        input.toggle-button__input(
            type="checkbox"
            name=name
            tabindex=tabindex
            required=isRequired
            disabled=isDisabled
            checked=isChecked
            id=id
        )
        span.toggle-button__check-mark
            span
        span.toggle-button__button-label=label

