mixin toggle-button(props)
  if props
    -
      let { name, type = "checkbox", value, label, tabindex, isRequired, isDisabled, isChecked, isHidden } = props;
      let id = `${name}-${Math.random().toString(16).substr(2)}`;
      let className = 'toggle-button';
      let classNames = `${className}`; 
    label(for=id, class=classNames)
      input(
        id=id,
        name=name,
        value=value,
        type=type,
        tabindex=tabindex,
        required=isRequired,
        disabled=isDisabled,
        checked=isChecked,
        class=`${className}__input`
      )
      span(class=`${className}__check-mark`)
        span(class=`${className}__mark`)
      span(class=`${className}__label`)= label
