mixin font-sample(props)
  if props
    -
      let { content, description, size } = props;
      let sizes = { lg: "lg", md: "md", sm: "sm" };
      let className = 'font-sample';
      let classNames = `${className} js-${className}`;
      classNames += sizes[size] ? ` font-sample_size_${sizes[size]}`: ''; 
    div(class=classNames)
      span(class=`${className}__content`)= content
      span(class=`${className}__description`)= description
