mixin color-sample(o)
    - 
        let { background = '#1F2041', label = 'Dark Shade 100%', description = '#1F2041', classNames= [] } = o || {};
        let style = `background: ${background}`;
        classNames = classNames.join(' ');
    .color-sample(
        class=classNames
    )
        .color-sample__section-rectangle
            .color-sample__rectangle(style=style) 
        .color-sample__section-info
            .color-sample__label=label
            .color-sample__description=description