mixin color-sample(props)
    - 
        let { background, label, description, classNames } = props || {};
        classNames = classNames ? classNames.join(' ') : '';
        let style = background ? `background: ${background}`: '';
    .color-sample(
        class=classNames
    )
        .color-sample__section-rectangle
            .color-sample__rectangle(style=style) 
        .color-sample__section-info
            .color-sample__label=label
            .color-sample__description=description