include ../air-range-slider/air-range-slider

mixin range-slider(props)
  if props
    -
      let { title, nameStart, nameEnd, description } = props;
      let className = 'range-slider';
      let classNames = `${className} js-${className}`;
    article(class=classNames) 
      input(
        name=nameStart,
        value=start,
        data-type="start",
        type="hidden",
        class=`${className}__input js-${className}__input`
      )
      input(
        name=nameEnd,
        value=end,
        data-type="end",
        type="hidden",
        class=`${className}__input js-${className}__input`
      )
      div(class=`${className}__section-head`)
        if title
          div(class=`${className}__title`)
            +title-label(title)
        span(class=`${className}__info js-${className}__info`)
      div(class=`${className}__section-body js-${className}__section-body`)
        +air-range-slider
      p(class=`${className}__description js-${className}__description`)= description
