mixin range-slider(props = {})
    -
        let
            { label, start, end, nameStart, nameEnd, separator, min, max, description } = props;
    .range-slider.js-range-slider(data-options = props)
        input(
            name=nameStart,
            value=start,
            data-type="start",
            type="hidden",
            class="range-slider__input"
        )
        input(
            name=nameEnd,
            value=end,
            data-type="end",
            type="hidden",
            class="range-slider__input"
        )
        .range-slider__section-head
            if (label)
                .range-slider__label=label
            .range-slider__info.js-range-slider__info
        .range-slider__section-body.js-range-slider__section-body
            .range-slider__point.js-range-slider__point.range-slider__point_start(
                data-type="start"
            )
            .range-slider__track.js-range-slider__track
            .range-slider__point.js-range-slider__point.range-slider__point_end(
                data-type="end"
            )
        .range-slider__description=description
