extends ../../templates/demo-base/demo-base

include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/subscription-text-field/subscription-text-field
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle-buttons/toggle-buttons
include ../../components/like-buttons/like-buttons
include ../../components/rate-buttons/rate-buttons
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/bullet-list/bullet-list
include ../../components/info/info
include ../../components/comment/comment

block main
  -
    let {
          textField1,
          textField2,
          dropdown1,
          dropdown2,
          dropdown3,
          dropdown4,
          dropdown5,
          dateDropdown,
          filterDateDropdown,
          maskedTextField,
          subscriptionTextField,
          expandableCheckboxList1,
          expandableCheckboxList2,
          button,
          buttons,
          richCheckboxButtons,
          checkboxButtons,
          radioButtons,
          toggleButtons,
          likeButtons,
          rateButtons,
          rangeSlider,
          pagination,
          bulletList,
          info,
          comment,
        } = data || {};
    let className = 'form-elements';
  section(class=`${className} js-${className}`)
    div(style="width: 100%")
    section(class=`${className}__text-fields ${className}__section`)
      ul(class=`${className}__list-text-field ${className}__list`)
        li(
          class=`${className}__text-field-default js-${className}__text-field-default ${className}__component`
        )
          +masked-text-field(textField1)
        li(
          class=`${className}__text-field-hover-focus js-${className}__text-field-hover-focus ${className}__component`
        )
          +text-field(textField2)
        li(
          class=`${className}__dropdown-first js-${className}__dropdown-first ${className}__component`
        )
          +dropdown(dropdown1)
        li(
          class=`${className}__masked-text-field js-${className}__masked-text-field ${className}__component`
        )
          +masked-text-field(maskedTextField)
        li(
          class=`${className}__date-dropdown js-${className}__date-dropdown ${className}__component`
        )
          +date-dropdown(dateDropdown)
        li(
          class=`${className}__filter-date-dropdown js-${className}__filter-date-dropdown ${className}__component`
        )
          +filter-date-dropdown(filterDateDropdown)
        li(
          class=`${className}__subscription-text-field js-${className}__subscription-text-field ${className}__component`
        )
          +subscription-text-field(subscriptionTextField)
      ul(class=`${className}__list-checkbox-buttons ${className}__list`)
        li(
          class=`${className}__checkbox-buttons js-${className}__checkbox-buttons ${className}__component`
        )
          +checkbox-buttons(checkboxButtons)
        li(class=`${className}__radio-buttons ${className}__component`)
          +radio-buttons(radioButtons)
        li(class=`${className}__toggle-buttons ${className}__component`)
          +toggle-buttons(toggleButtons)
        li(
          class=`${className}__like-buttons js-${className}__like-buttons ${className}__component`
        )
          +like-buttons(likeButtons)
        li(
          class=`${className}__rate-buttons js-${className}__rate-buttons ${className}__component`
        )
          +rate-buttons(rateButtons)
      ul(class=`${className}__list-range-sliders ${className}__list`)
        li(
          class=`${className}__range-slider js-${className}__range-slider ${className}__component`
        )
          +range-slider(rangeSlider)
        li(
          class=`${className}__buttons js-${className}__buttons ${className}__component`
        )
          +buttons(buttons)
        li(
          class=`${className}__button js-${className}__button ${className}__component`
        )
          +button(button)
        li(
          class=`${className}__pagination js-${className}__pagination ${className}__component`
        )
          +pagination(pagination)
    section(class=`${className}__dropdowns ${className}__section`)
      ul(class=`${className}__list-dropdowns-first ${className}__list`)
        li(
          class=`${className}__dropdown-second js-${className}__dropdown-second ${className}__component`
        )
          +dropdown(dropdown2)
        li(
          class=`${className}__dropdown-third js-${className}__dropdown-third ${className}__component`
        )
          +dropdown(dropdown3)
      ul(class=`${className}__list-dropdowns-second ${className}__list`)
        li(
          class=`${className}__dropdown-fourth js-${className}__dropdown-fourth ${className}__component`
        )
          +dropdown(dropdown4)
      ul(class=`${className}__list-dropdowns-third ${className}__list`)
        li(
          class=`${className}__dropdown-fifth js-${className}__dropdown-fifth ${className}__component`
        )
          +dropdown(dropdown5) 
    section(class=`${className}__lists ${className}__section`)
      ul(class=`${className}__list-expandable-checkbox-list ${className}__list`)
        li(
          class=`${className}__expandable-checkbox-list-first js-${className}__expandable-checkbox-list-first ${className}__component`
        )
          +expandable-checkbox-list(expandableCheckboxList1)
        li(
          class=`${className}__expandable-checkbox-list-second js-${className}__expandable-checkbox-list-second ${className}__component`
        )
          +expandable-checkbox-list(expandableCheckboxList2)
      ul(class=`${className}__list-rich-checkbox-buttons ${className}__list`)
        li(class=`${className}__rich-checkbox-buttons ${className}__component`)
          +rich-checkbox-buttons(richCheckboxButtons)
      ul(class=`${className}__list-bullet-list ${className}__list`)
        li(class=`${className}__bullet-list ${className}__component`) 
          +bullet-list(bulletList)
    section(class=`${className}__comments ${className}__section`)
      ul(class=`${className}__list-info ${className}__list`)
        li(class=`${className}__info ${className}__component`) 
          +info(info)
      ul(class=`${className}__list-comment ${className}__list`)
        li(
          class=`${className}__comment js-${className}__comment ${className}__component`
        )
          +comment(comment)
