extends ../../templates/base/base
include ../../components/sign-up/sign-up

block main
  -
    let data = htmlWebpackPlugin.options.getData() || {};
    let { backgroundImage } = data;        
    let style = backgroundImage ? `background-image: url("${backgroundImage}"); ` : '';
    let className = 'registration';
    let classNames = `${className} js-${className}`;
  section(class=classNames, style=style)
    block sign
      - let { signUp } = data;
      section(class=`${className}__sign-up js-${className}__sign-up`)
        +sign-up(signUp)
