extends ../../templates/base/base
include ../../components/sign-up/sign-up

block main
  -
    let className = 'registration';
    let classNames = `${className} js-${className}`;
  section(class=classNames)
    block sign
      - let { signUp } = data;
      if signUp
        section(class=`${className}__sign-up js-${className}__sign-up`)
          +layout-container(container)
            div(class=`${className}__wrapper`)
              +sign-up(signUp)
