include ../title-label/title-label
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin picker(props)
  if props
    -
      let { title, dateDropdown, dropdown, button } = props;
      let className = 'picker';
      let classNames = `${className} js-${className}`;
    form(class=classNames)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      ul(class=`${className}__list`) 
        if dateDropdown
          li(class=`${className}__date-dropdown js-${className}__date-dropdown`)
            +date-dropdown(dateDropdown)
        if dropdown
          li(class=`${className}__dropdown js-${className}__dropdown`) 
            +dropdown(dropdown)
        if button
          li(class=`${className}__buttons js-${className}__buttons`) 
            +button(button)
