include ../title-label/title-label
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button
include ../card/card

mixin picker(props)
  if props
    -
      let { title, dateDropdown, dropdown, button, action, method = 'GET', view } = props;
      let className = 'picker';
      let classNames = `${className} js-${className}`;
      let views = {
        'landing-page': 'landing_page',
        'landing-page-dates-dropdown': 'landing_page_dates_dropdown',
        'landing-page-guests-dropdown': 'landing-page-guests-dropdown',
      };
      classNames += views[view] ? ` ${className}_view_${views[view]}` : ''; 
    +card
      form(class=classNames, action=action, method=method)
        if title
          div(class=`${className}__title`)
            +title-label(title)
        if dateDropdown
          div(class=`${className}__date-dropdown js-${className}__date-dropdown`)
            +date-dropdown(dateDropdown)
        if dropdown
          div(class=`${className}__dropdown js-${className}__dropdown`) 
            +dropdown(dropdown)
        if button
          div(class=`${className}__buttons js-${className}__buttons`) 
            +button(button)
