include ../like-button/like-button

mixin comment(props)
  -
    let { src, fullName, date, content, likeButton } = props;
    let style = src ? `background: url(${src}) 45% 30%` : ''; 
    let className = 'comment';
    let classNames = `${className} js-${className}`;
  article(class=classNames)
    div(class=`${className}__left`)
      span(class=`${className}__img`, style=style)
      div(class=`${className}__like-button js-${className}__like-button`)
        +like-button(likeButton)
    div(class=`${className}__right`)
      span(class=`${className}__full-name`)= fullName
      span(class=`${className}__date`)= date
      p(class=`${className}__content`)= content
