mixin radio-button(props)
  if props
    -
      let { name, value, label, type = 'radio', tabindex, isDisabled, isChecked, isHidden } = props;
      let id = `${name}-${Math.random().toString(16).substr(2)}`;
      let className = 'radio-button';
      let classNames = `${className}`;
      classNames += isHidden ? ` ${className}_hidden` : '';
    label(class=classNames, for=id)
      input(
        id=id,
        name=name,
        value=value,
        type=type,
        tabindex=tabindex,
        required=required,
        disabled=isDisabled,
        checked=isChecked,
        class=`${className}__input`,
        hidden=isHidden
      )
      span(class=`${className}__check-mark`)
        span(class=`${className}__check-dummy`)
      if label
        span(class=`${className}__label`)= label
