mixin radio-button(props = {})
  -
    let
        { name, value, tabindex, isDisabled, isChecked, label } = props;
        id = name ? `radio-button__button-${label}`: '';
  label.radio-button__button(for=id)
    input.radio-button__input(
      type="radio",
      name=name,
      tabindex=tabindex,
      required=required,
      disabled=isDisabled,
      checked=isChecked,
      value=value,
      id=id
    )
    span.radio-button__check-mark
      span
    span.radio-button__button-label= label
