mixin radio-button(props)
  if props
    -
      let
          { name, value, label, type = "radio", tabindex, isDisabled, isChecked, isHidden } = props;
          id = `${name}-${Math.random().toString(16).substr(2)}`;
          className = 'radio-button';
          classNames = `${className} js-${className}`;
    label(class=classNames, for=id)
      input(
        id=id,
        name=name,
        value=value,
        type=type,
        tabindex=tabindex,
        required=required,
        disabled=isDisabled,
        checked=isChecked,
        hidden=isHidden,
        class=`${className}__input`
      )
      span(class=`${className}__check-mark`)
        span(class=`${className}__check-dummy`)
      if label
        span(class=`${className}__label`)= label
