mixin logo-image(props = {})
    -
        let
            { src, alt, type, itemType, itemScope, itemProp } = props
            className = 'logo-image';
            classNames = className;
            types = {
                monochromatic: 'monochromatic',
                color: 'color',
            }
        classNames += types[type] ? ` ${className}_${types[type]}` : '';
    div(
        itemscope=itemScope
        itemtype=itemType
        class=classNames
    )
        if (src)
            img(
                itemprop=itemProp
                src=src
                alt=alt
                class=`${className}__img`
            )
        