mixin logo-image(props = {})
    -
        let
            { src, fill, alt, href, title} = props
    div(
        itemscope
        itemtype="http://schema.org/Brand"
        class='logo'
    )
        if (href && src)
            a(
                itemprop="url"
                href=href
                title=title
            )
                img.logo__img(
                    itemprop="logo"
                    src=src
                    alt=alt
                )
        else if (src)
            img.logo__img(
                itemprop="logo"
                src=src
                alt=alt
            )
        