mixin logo-image(props = {})
    -
        let
            { src, alt, href, title, theme } = props
            className = 'logo';
            classNames = className;
        classNames += theme ? ` ${className}_${theme}` : '';
    div(
        itemscope
        itemtype="http://schema.org/Brand"
        class=classNames
    )
        if (href && src)
            a(
                itemprop="url"
                href=href
                title=title
            )
                img.logo__img(
                    itemprop="logo"
                    src=src
                    alt=alt
                )
        else if (src)
            img.logo__img(
                itemprop="logo"
                src=src
                alt=alt
            )
        