mixin logo-image(props = {})
    -
        let
            { src, alt, type } = props
            className = 'logo-image';
            classNames = className;
            types = {
                monochromatic: 'monochromatic',
                color: 'color',
            }
        classNames += types[type] ? ` ${className}_${types[type]}` : '';
    div(
        itemscope
        itemtype="http://schema.org/Brand"
        class=classNames
    )
        if (src)
            img(
                itemprop="logo"
                src=src
                alt=alt
                class=`${className}__img`
            )
        