include ../control/control
include ../card/card

mixin calendar(props)
  if props
    -
      let
          { name, type="hidden", control, isDisabled = true, isReadOnly = true, card } = props;
          className = 'calendar'; 
          classNames = `${className} js-${className}`;
    +card(card) 
      article(class=classNames)
        input(
          name=name,
          type=type,
          class=`${className}__text-field js-${className}__text-field`,
          disabled=isDisabled,
          readonly=isReadOnly
        )
        if control
          div(class=`${className}__control js-${className}__control`)
            +control(control)
