mixin calendar(props = {})
  -
    let
        { buttonCleanText, buttonApplyText } = props;
        className = 'calendar'; 
        classNames = `${className} js-${className}`;
  div(class=classNames)
    -
      let
          mainClassNames = `${className}__main js-${className}__main`;
    div(class=mainClassNames)
      input(type="hidden", date-isCalendar="1")
      div(class=`${className}__control`)
        button(
          type="button",
          data-type=0,
          class=`${className}__button ${className}__button_clean js-${className}__button_clean`
        )
          | #{buttonCleanText}
        button(
          type="button",
          data-type=1,
          class=`${className}__button ${className}__button_apply js-${className}__button_apply`
        )
          | #{buttonApplyText}
