include ../air-datepicker/air-datepicker
include ../control/control
include ../card/card

mixin calendar(props)
  if props
    -
      let { name, type, control, isDisabled, isReadOnly, card } = props;
      let className = 'calendar'; 
      let classNames = `${className} js-${className}`;
    +card(card) 
      article(class=classNames)
        div(class=`${className}__date-picker js-${className}__date-picker`)
          +air-datepicker({ name, type, disabled, readonly })
        if control
          div(class=`${className}__control js-${className}__control`)
            +control(control)
