include ../title-label/title-label
include ../like-button/like-button

mixin like-buttons(props)
  if props
  -
    let { title, buttons = [], images = {} } = props;
    let { length } = buttons;
    let className = 'like-buttons';
    let classNames = `${className} js-${className}`;  
  div(class=`${classNames}`)
    if title
      div(class=`${className}__title`)
        +title-label(title)
    if length
      ul(class=`${className}__items`)
        - let { srcLike, altLike, srcNotLike, altNotLike } = images;
        each button in buttons
          li(class=`${className}__item js-${className}__item`)
            +like-button({ ...images, ...button })
