mixin bullet(props)
  if props
    -
      let { label } = props;
      let className = 'bullet';
      let classNames = `${className}`;
    div(class=classNames)
      span(class=`${className}__section-mark`)
        span(class=`${className}__item-mark`)
      span(class=`${className}__section-content`)
        span(class=`${className}__item-label`)= label
