include ../logo-link/logo-link
include ../nav/nav

mixin header(props)
  if props
    -
      let { nav, logo } = props;
      let className = 'header';
      let classNames = `${className} js-${className}`;
    header(class=classNames)
      div(class=`${className}__logo`)
        +logo-link(logo)
      div(class=`${className}__nav js-${className}__nav`)
        +nav(nav)
