include ../title-label/title-label
include ../masked-text-field/masked-text-field

mixin dropdown-title-text-field(props)
  if props
    -
      let { dropdown = {}, maskedTextField } = props;
      let { isOpened, theme, title } = dropdown;
      let themes = {
          comfort: 'comfort',
          guests: 'guests',
          date: 'date'
      }
      let className = 'dropdown-title-text-field';
      let classNames = `${className} js-${className}`;
      classNames += isOpened ? ` ${className}_opened` : '';
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    div(class=classNames)
      if title
        div(class=`${className}__title js-${className}__title`)
          +title-label(title)
      if (maskedTextField || block)
        div(class=`${className}__body`)
          if maskedTextField
            div(
              class=`${className}__masked-text-field js-${className}__masked-text-field`
            )
              +masked-text-field({ ...maskedTextField, theme, isOpened })
          if block
            block
