mixin filter-date-dropdown(o = {})
    - 
        let {label, input, expanded, forcedExpanded} = o || {};
        input = { ...{ name: 'filter-date-dropdown', value: '', dummy: 'ДД МЕС' }, ...input };
        let { name, value, dummy } = input;
        let classes = 'filter-date-dropdown' + (expanded ? ' filter-date-dropdown_expanded': '') + (forcedExpanded ? ' filter-date-dropdown_forced-expanded': '');
    div(
        data-options={dummy, separator: '-'}
        class=classes
    )
        input(
            type = "hidden",
            name = name
            value = value
            data-type = "1"
        )
        if (label)
            .filter-date-dropdown__label=label
        .filter-date-dropdown__section-up
            input.filter-date-dropdown__input(
                data-type="0"
                placeholder="ДД МЕС - ДД МЕС"
                disabled=true
            )
            button.filter-date-dropdown__button(
                    type="button",
                    class="icon-expand_more"
            )
        .filter-date-dropdown__section-down(data-type="3")
            +calendar({visible: true})

