include ../calendar/calendar

mixin filter-date-dropdown(o)
    - 
        let {label, input, expanded, forcedExpanded, placeholder, separator, calendar} = o || {};
        let { name, value, dummy } = input;
        let classes = 'filter-date-dropdown js-filter-date-dropdown' + (expanded ? ' filter-date-dropdown_expanded' : '') + (forcedExpanded ? ' filter-date-dropdown_forced-expanded': '');
    div(
        data-options={dummy, separator}
        class=classes
    )
        input(
            type = "hidden",
            name = name
            value = value
            data-type = "1"
        )
        if (label)
            .filter-date-dropdown__label=label
        .filter-date-dropdown__section-up.js-filter-date-dropdown__section-up
            input.filter-date-dropdown__input(
                data-type="0"
                placeholder=placeholder
                disabled=true
            )
            button.filter-date-dropdown__button(
                    type="button",
                    class="icon-expand_more"
            )
        .filter-date-dropdown__section-down.js-filter-date-dropdown__section-down(data-type="3")
            +calendar(calendar)

