mixin card-header(props = {})
    - let { number = '', suite = '', price = '', duration = '', unit = '' } = props || {};
    .card-header
        .card-header__section-info
            .card-header__number-info
                |№
                span.card-header__number=number
                span.card-header__suite=suite
            .card-header__price
                |#{price}!{unit}
                span.card-header__duration=duration