mixin expandable(props = {})
    -
        let
            { label, isForcedExpanded, isExpanded } = props;
            className = 'expandable'; 
            classNames = `${className} js-${className}`;
        classNames += isForcedExpanded ? ` ${className}_forced-expanded` : '';
        classNames += isExpanded ? ` expandable_expanded` : '';
    div(
        class=classNames
    )
        .expandable__header.js-expandable__header
            .expandable__label=label
            .expandable__control.icon-expand_more
        .expandable__body.js-expandable__body
            block               