extends ../demo-base/demo-base

include ../../components/color-sample/color-sample
include ../../components/font-sample/font-sample

block main
  -
    let data = htmlWebpackPlugin.options.getData();
    let { colors = [], fonts = [] } = data || {};
    let className = 'colors-and-type';
    let classNames = `${className} js-${className}`;
  section(class=classNames)
    ul(class=`${className}__colors`)
      each color in colors
        li(class=`${className}__color-item`)
          +color-sample(color)
    ul(class=`${className}__fonts`)
      each font in fonts
        li(class=`${className}__font-item`)
          +font-sample(font)
