include ../logo-link/logo-link
include ../list-links/list-links
include ../subscription-text-field/subscription-text-field
include ../copyright/copyright

mixin footer(props = {})
  -
    let { info = {}, items = [], subscribe = {}, copyright, logo, action, size } = props;
    let { content } = info;
    let { header, description, subscriptionTextField } = subscribe;
    let sizes = {
            'sm': 'size_sm'
        };
    let className = 'footer';
    let classNames = `${className} js-${className}`;
    classNames += sizes[size] ? ` ${className}_${sizes[size]}` : '';
  div(class=classNames)
    div(class=`${className}__main-section`)
      div(class=`${className}__info-section`)
        div(class=`${className}__logo`)
          +logo-link(logo)
        p(class=`${className}__info`)= content
      ul(class=`${className}__nav-items`)
        each item in items
          li(class=`${className}__nav-item`)
            +list-links(item)
        form(class=`${className}__subscribe-section`, action=action, method=method)
          p(class=`${className}__subscribe-header`)= header
          p(class=`${className}__subscribe-description`)= description
          div(
            class=`${className}__subscribe-text-field js-${className}__subscribe-text-field`
          )
            +subscription-text-field(subscriptionTextField)
    div(class=`${className}__copyright-section js-class=${className}__copyright-section`)
      +copyright(copyright)
