include ../logo-image/logo-image
include ../link/link

mixin copyright(props)
  if props
    -
      let { items = [], content, logo, size } = props;
      let icons = {
        instagram: 'icon-i',
        facebook: 'icon-f',
        twitter: 'icon-t',
      };
      let sizes = {
        sm: 'size_sm',
      }
      let mainClassName = 'copyright';
      let mainClassNames = `${mainClassName}`;
      mainClassNames += sizes[size] ? ` ${mainClassName}_${sizes[size]}` : '';
    div(class=mainClassNames)
      if logo
        div(class=`${mainClassName}__logo`)
          +logo-link(logo)
      p(class=`${mainClassName}__content`)= content
      ul(class=`${mainClassName}__social-items`)
        each item in items
          -
            let
                { icon, ...link } = item || {};
                className = "copyright__icon";
                classNames = `${className}`;
            classNames += icons[icon] ? ` ${icons[icon]}` : '';
          li(class=`${mainClassName}__social-item`)
            +link(link)
              i(class=classNames)
