include ../logo-image/logo-image
include ../link/link
include ../icon/icon

mixin copyright(props)
  if props
    -
      let { items = [], content, logo, size } = props;
      let icons = { instagram: 'icon-i', facebook: 'icon-f', twitter: 'icon-t' };
      let sizes = { small: 'size_small' };
      let mainClassName = 'copyright';
      let mainClassNames = `${mainClassName}`;
      mainClassNames += sizes[size] ? ` ${mainClassName}_${sizes[size]}` : '';
    div(class=mainClassNames)
      if logo
        div(class=`${mainClassName}__logo`)
          +logo-link(logo)
      p(class=`${mainClassName}__content`)= content
      ul(class=`${mainClassName}__social-items`)
        each item in items
          -
            let { icon, ...link } = item || {};
            let className = "copyright__icon";
            let classNames = `${className}`;
            let readyIcon = icons[icon];
          li(class=`${mainClassName}__social-item`)
            +link(link)
              if readyIcon
                span(class=classNames)
                  +icon(readyIcon)
