include ../like-button/like-button
mixin comments(props = {})
    -
        let
            { label, count, comments = [], units = [] } = props;
    .comments.js-comments(
        data-count=count                        
        data-units=units
    )
        if (label || count)
            .comments__header
                .comments__label
                    h2=label
                .comments__count
                    span.comments__count-value=count
                    span.comments__count-units.js-comments__count-units
        .comments__sections
            each comment in comments
                -
                    let
                        { src, fullName, date, content, likeButton } = comment || {};
                        style = src ? `background: url(${src}) 45% 30%` : ''; 
                .comments__section
                    .comments__left
                        .comments__img(style=style)
                        .comments__like-button
                            +like-button(likeButton)
                    .comments__right
                        .comments__full-name=fullName
                        .comments__date=date
                        .comments__content=content





