include ../like-button/like-button
mixin comments(o = {})
    -
        let
            {label = '', count = '', comments = [], units = [] } = o;
            sources = {
                'male': require('../../components/comments/img/example-avatar-male.png').default,
                'female': require('../../components/comments/img/example-avatar-female.png').default,
            }
    .comments.js-comments(
        data-count=count                        
        data-units=units
    )
        if (label || count)
            .comments__header
                .comments__label
                    h2=label
                .comments__count
                    span.comments__count-value=count
                    span.comments__count-units.js-comments__count-units
        .comments__sections
            each comment in comments
                -
                    let
                        src = sources[comment.src];
                        style = `background: url(${src}) 45% 30%`; 
                .comments__section
                    .comments__left
                        .comments__img(style=style)
                        .comments__like-button
                            +like-button(comment.likeButton)
                    .comments__right
                        .comments__full-name=comment.fullName
                        .comments__date=comment.date
                        .comments__content=comment.content





