mixin checkbox-button(props = {})
    -   
        let
            { name, src, tabindex, required, disabled, checked, label, bold } = props;
            id = name ? `checkbox-button-${name}`: '';
            defaultSrc = require('../../assets/images/checkbox-buttons.svg').default;
        src = src || defaultSrc;
            className = 'checkbox-button';
            classes = className;
            classes += bold ? ` ${className}_bold` : '';
    label(
        for=id
        class=classes
    )
        input.checkbox-button__input(
            type = "checkbox"
            name = name
            tabindex = tabindex
            required = required ? required : false
            disabled = disabled ? disabled : false
            checked = checked ? checked : false
            id = id
        )
        span.checkbox-button__check-mark
            if (src)
                img(src=src, alt=name)
        span.checkbox-button__label=label

                    
                
                    


