mixin checkbox-button(props)
  if props
    -
      let { name, type = "checkbox", src, alt, tabindex, label, value, theme, isHidden, isRequired, isDisabled, isChecked } = props;
      let className = 'checkbox-button';
      let classNames = `${className} js-${className}`;
      let id = `${name}-${Math.random().toString(16).substr(2)}`;
      let themes = { bold: 'bold' }
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
      classNames += isHidden ? ` ${className}_hidden` : '';
    label(for=id, class=classNames)
      input(
        id=id,
        name=name,
        value=value,
        type=type,
        tabindex=tabindex,
        required=isRequired,
        disabled=isDisabled,
        checked=isChecked,
        class=`${className}__input`,
        hidden=isHidden
      )
      span(class=`${className}__check-mark`)
        if (src)
          img(src=src, alt=alt, class=`${className}__mark`)
      span(class=`${className}__label`)= label
