mixin checkbox-button(props)
  if props
    -
      let
          { name, type="checkbox", src, alt, tabindex, label, value, theme, isHidden, isRequired, isDisabled, isChecked } = props;
          className = 'checkbox-button';
          classNames = `${className} js-${className}`;
          id = `${name}-${Math.random().toString(16).substr(2)}`;
          themes = {
              bold: 'bold',
          }
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    label(for=id, class=classNames)
      input(
        id=id,
        name=name,
        value=value,
        type=type,
        tabindex=tabindex,
        required=isRequired,
        disabled=isDisabled,
        checked=isChecked,
        hidden=isHidden,
        class=`${className}__input`
      )
      span(class=`${className}__check-mark`)
        if (src)
          img(src=src, alt=alt, class=`${className}__mark`)
      span(class=`${className}__label`)= label
