mixin checkbox-buttons(o = {buttons: [], label: ''})
    -
        let { label = '', buttons = [] } = o || {};
        let src = require('../../components/checkbox-buttons/img/checkbox-buttons.svg').default;
    .checkbox-buttons
        if (o.label)
            h3.checkbox-buttons__label=label
        for b in buttons
            -
                let
                    id = b.name ? `checkbox-buttons__button-${b.name}`: '';
                    classButtonLabel = b.classButtonLabel ? ` ${b.classButtonLabel}` : '';
                    classesButtonLabel = `checkbox-buttons__button-label${classButtonLabel}`;
            label.checkbox-buttons__button(for=id)
                input.checkbox-buttons__input(
                    type = "checkbox"
                    name = b.name
                    tabindex = b.tabindex
                    required = b.required
                    disabled = b.disabled ? b.disabled : false
                    checked = b.checked ? b.checked : false
                    id = id
                )
                span.checkbox-buttons__check-mark
                    img(src=src, alt=b.name)
                span(class=classesButtonLabel)=b.label
                    
                
                    


