extends ../../templates/demo-base/demo-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/card/card
include ../../components/picker/picker
include ../../components/sign-up/sign-up
include ../../components/calendar/calendar
include ../../components/card-slider/card-slider
include ../../components/book/book
include ../../components/sign-in/sign-in

block header
  - let className = 'cards';
  div(class=`${className}__header`)
    - let { logo } = data;
    +header-ui-kit(logo)
block main
  -
    let className = 'cards';
    let classNames = `${className} js-${className}`;
    let { picker, book, calendar, signUp, signIn, cardSlider1, cardSlider2 } = data;
  section(class=classNames)
    ul(class=`${className}__list-picker`)
      li(class=`${className}__picker js-${className}__picker`)
        +picker(picker)
      li(class=`${className}__sign-up js-${className}__sign-up`)
        +sign-up(signUp)
    ul(class=`${className}__list-book`)
      li(class=`${className}__book js-${className}__book`)
        +book(book)
      li(class=`${className}__sign-in js-${className}__sign-in`)
        +sign-in(signIn)
    ul(class=`${className}__list-calendar`)
      li(class=`${className}__calendar js-${className}__calendar`)
        +calendar(calendar)
      li(class=`${className}__sliders js-${className}__sliders`)
        ul(class=`${className}__list`)
          li(
            class=`${className}__card-slider-first js-${className}__card-slider-first`
          )
            +card-slider(cardSlider1)
          li(
            class=`${className}__card-slider-second js-${className}__card-slider-second`
          )
            +card-slider(cardSlider2)
