mixin title-label(props)
  if props
    -
      let { content, state, isLabel, htmlFor, accesskey, size, theme } = props || {};
      let className = 'title-label';
      let classNames = `${className} js-${className}`;
      let sizes = {
        h1: 'h1',
        h2: 'h2'
      };
      let themes = {
        card: 'card',
        dropdown: 'dropdown'
      };
      classNames += sizes[size] ? ` ${className}_size_${sizes[size]}` : '';
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    if (title || state)
      div(class=classNames)
        if title
          if isLabel
            label(class=`${className}__label`, accesskey=accesskey, for=htmlFor)= content
          else
            h3(class=`${className}__content`)= content
        if state
          span(class=`${className}__state`)= state
