mixin nav-item(props)
    -
        let { label = '', current = false, children = [], href = "#", title = "" } = props || {};
        let
            classes = "nav-item" + (current ? " nav-item_current" : '');
            length = children.length;
    div(
        class=classes
    )
        a(
            href=href
            title=title
            class="nav-item__link"
        )=label
        if length
            button.nav-item__control(
                type="button"
            )
                i.icon-expand_more

