include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button
include ../card/card
include ../card-header/card-header
include ../factory-order-item/factory-order-item
include ../order-total/order-total

mixin book(props)
  if props
    -
      let { action, method = 'GET', dropdown, dateDropdown, total, button, header, order = [] } = props;
      let themes = { 'room-details': 'room-details' };
      let className = 'book';
      let classNames = `${className} js-${className}`;
      let orderLength = order.length;
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    +card
      form(class=classNames, action=action, method=method)
        div(class=`${className}__wrapper-section`)
          div(class=`${className}__header js-${className}__header`)
            +card-header(header)
          div(class=`${className}__date-dropdown js-${className}__date-dropdown`)
            +date-dropdown(dateDropdown)
          div(class=`${className}__dropdown js-${className}__dropdown`) 
            +dropdown(dropdown)
          if orderLength
            ul(class=`${className}__order-items`)
              each item in order
                li(class=`${className}__order-item js-${className}__order-item`)
                  +factory-order-item(item)
        div(class=`${className}__order-total js-${className}__order-total`)
          +order-total(total)
        div(class=`${className}__wrapper-section`)
          div(class=`${className}__buttons`) 
            +button(button)
