include ../link/link
include ../nav-item/nav-item
include ../button/button

mixin nav(props)
  if props
    -
      let { items = [], user = {}, isAuthorized, buttons = [] } = props;
      let { firstName, lastName, ...link } = user;
      let className = 'nav';
      let classNames = `${className} js-${className}`;
      let { length: lengthItems } = items;
      let { length: lengthButtons } = items;
    nav(class=classNames)
      if lengthItems
        ul(class=`${className}__nav-section`)
          each item in items
            li(
              class=`${className}__nav-section-item js-${className}__nav-section-item`
            )
              +nav-item(item)
      if isAuthorized
        div(class=`${className}__separator`)
        div(class=`${className}__user-section`)
          +link({content: `${firstName} ${lastName}`, ...link})
      else if lengthButtons
        ul(class=`${className}__control-section`)
          each button in buttons
            li(class=`${className}__control-item`) 
              +button(button)
