mixin link(props = {})
    -
        let
            { href, title, target, rel, content, isBlock, isCurrent }  = props;
            if (target === "_blank") {
                rel="noopener noreferrer";
            }
        let className = "link";
        let classNames = className;
        classNames += isBlock ? ` ${className}_block` : '';
        classNames += isCurrent ? ` ${className}_current` : '';
    a(
        href=href
        title=title
        target=target
        rel=rel
        class=classNames
    )
        if block
            block
        else 
            | #{content}
