mixin link(props = {})
    -
        let
            { href, title, content, target, rel, itemType, isItemScope, isFill } = props;
            if (target === "_blank") {
                rel="noopener noreferrer";
            }
        let className = "link";
        let classNames = className;
        classNames += isFill ? ` ${className}_fill` : '';
    a.link(
        href=href
        title=title
        target=target
        rel=rel
        itemtype=itemType
        itemscope=isItemScope
    )
    block content
        #{!content}
