mixin link(props = {})
    -
        let
            { href, title, content, target, rel } = props;
            if (target === '_blank') {
                rel="noopener noreferrer";
            }
    a.link(
        href=href
        title=title
        target=target
        rel=rel
    )=content
