include ../icon/icon

mixin slider(props)
  if props
    -
      let { images = [], max, isDisabled, isCovered, withControl } = props;
      let n = 0;
      let { length } = images;
      let className = 'slider';
      let classNames = `${className} js-${className}`;
      classNames += isCovered ? ` ${className}_covered` : '';
      classNames += withControl ? ` ${className}_with-control` : '';
      classNames += isDisabled ? ` ${className}_disabled` : '';
    article(class=classNames)
      div(
        class=`${className}__section-images ${className}__section_not_selected js-${className}__section-images`
      )
        div(class=`${className}__image-wrapper`)
          img(class=`${className}__image js-${className}__image`)
      if length !== 0
        ul(class=`${className}__controls`)
          li(
            class=`${className}__control ${className}__control_left js-${className}__control`,
            data-type="left"
          )
            +icon('icon-expand_more_prev')
          li(
            class=`${className}__control ${className}__control_right js-${className}__control`,
            data-type="right"
          )
            +icon('icon-expand_more_prev')
        ul(class=`${className}__points`)
          while n < length
            if (max && n > max)
              continue
            li(class=`${className}__point js-${className}__point`, data-index=n)
            -
              ++n
